@import './scss/test';
@import './scss/fonts';

$background: rgb(166, 147, 225);

body {
  background-color: $background;
  font-family: 'Caveat';
  font-size: 28px;
  color: rgb(79, 72, 72);

  img {
    width: 350px;
    height: 250px;
  }
}

.images {
  display: block;
  margin-top: 50px;
  background: #7a2d70;
}

.svgtest1 {
  width: 150px;
  height: 170px;
  padding: 50px;
  margin-top: 50px;
  background: #e1dbe6;
  fill: rgb(22, 119, 26);
}

.svgtest2 {
  width: 150px;
  height: 170px;
  padding: 50px;
  margin-top: 50px;
  background: #e1dbe6;
  fill: tomato;
}
