@font-face {
  font-family: "Caveat";
  src: url("./fonts/CaveatRegular.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "Montserrat";
  src: url("./fonts/Montserrat.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
